@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/nexa-bold');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
/* maaz added this for the overflow of navbar  */
html, body {
  overflow-x: hidden;
}


.logo_heading {
  font-family: 'Nexa', sans-serif;
}

/* ========== Aside Bar Scroll Customization */
::-webkit-scrollbar-button {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 4px;
  border-radius: 10px;
}

/* Hide scrollbar for Chrome, Edge, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}


/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to left bottom, #FFD200, #CD7D00);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: linear-gradient(to left bottom, #FFD200, #CD7D00);
}

/* Firefox scrollbar styles */
/* * {
  scrollbar-width: thin;
  scrollbar-color:red #f1f1f1;;
} */
.value-container {
  background: none !important;
  height: auto !important;
  font-size: 14px !important;
  white-space: nowrap !important;
}

.indicators-container {
  background: none !important;
}

.control {
  border: none !important;
  border-bottom: 1px solid #D1D5DB !important;
}

.menu-option {
  font-size: 13px !important;
}

.vue-select .single-value {
  font-size: 14px !important;
}

.filepond--credits {
  display: none !important;
}

@media (max-width: 640px) {
  .placeholder-hide-on-mobile::placeholder {
    opacity: 0;
  }

  body {
    font-size: 15px;
  }

}

@media (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }
}